*{
    margin: 0;
}
body{
    background-color: #ececec;
    font-family: arial;
}

/* HEADER */
header{
    width:100%;
    background-color: #252525;
    margin-bottom:40px;
}
header .header-btn i{vertical-align:middle;}
header .container{
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;
}
header .container h1{
    color:#fff;
}

/* TODAY DATE */
#today{
    width:500px;
    margin:0 auto 20px auto;
    display:block;
    text-align:center;
    display:flex;
    justify-content:space-between;
}
#today i{
    font-size:20px;
    margin-top:4px;
    cursor:pointer;
}


/* POMODORO */
#kyukei{
    width: 500px;
    border: 1px solid #252525;
    margin: 0 auto;
    padding: 48px 40px;
    box-sizing: border-box;
    text-align: center;
}
#kyukei h3{
    margin-bottom: 25px;
}
#kyukei .timer{
    font-size: 40px;
    margin-bottom: 15px;
}
#kyukei #kyukei-btn{
    width: 100px;
    height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    outline:none;
}
#kyukei .start-btn{
    background-color:#81c781;
    border:1px solid #81c781;
    color:#252525;
}
#kyukei .stop-btn{
    background-color:#d48383;
    border:1px solid #d48383;
}

/* REPORT */
.report{
    width: 500px;
    border: 1px solid #252525;
    padding: 20px;
    margin: 20px auto 0 auto;
    box-sizing: border-box;
}
.report h3{
    text-align: center;
    margin-bottom: 30px;
}
.report table{
    width:100%;
    margin:0 auto;
    text-align: center;
}
.report table tr td{
    padding:10px 0;
}
.report table tr td i:hover{
    cursor:pointer;
}

/* MODAL */
.modal-grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.modal-grid .modal-bg{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(4,4,4,0.7);
}
.modal-grid .modal{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px;
    z-index: 99;
}
.modal-grid .modal h3{
    color: #fff;
    margin-bottom: 20px;
}
.modal-grid .modal ul{
    list-style: none;
    padding: 0;
}
.modal-grid .modal ul li{
    margin-bottom: 10px;
}
.modal-grid .modal ul li .duration{
    width:30px;
}
.modal-grid .modal{
    color:#fff;
}
.modal-grid .notification{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -250px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px;
    z-index: 99;
    color:#fff;
}
.modal-grid .notification h3{
    margin-bottom: 20px;
}